{
    "singleQuote": true,
    "trailingComma": "all",
    "endOfLine": "lf",
    "printWidth": 80,
    "editor.formatOnSave": true,
    "proseWrap": "always",
    "tabWidth": 4,
    "semi": true,
    "useTabs": false,
    "bracketSpacing": true,
    "arrowParens": "always"
}
